# Data Preparation

In [181]:
import pandas as pd
import numpy as np

## Join Calendar and Passenger

In [182]:
# Read calendar data
calendar_15 = pd.read_csv("data/CalendarData/CalendarData15min.csv", sep=";")
calendar_30 = pd.read_csv("data/CalendarData/CalendarData30min.csv", sep=";")
calendar_60 = pd.read_csv("data/CalendarData/CalendarData60min.csv", sep=";")

# Read passenger data
passenger_15 = pd.read_csv("data/PassengerData/Passenger15min.csv", sep=";")
passenger_15 = passenger_15.rename(columns={"interval15": "minute"})  # Rename the column "interval15" to "minute" (As in calendar)

passenger_30 = pd.read_csv("data/PassengerData/Passenger30min.csv", sep=";")
passenger_30 = passenger_30.rename(columns={"interval30": "minute"})  # Rename the column "interval30" to "minute" (As in calendar)

passenger_60 = pd.read_csv("data/PassengerData/Passenger60min.csv", sep=";")

C:\Users\Andre\AppData\Local\Temp\ipykernel_26352\2152513109.py:2: DtypeWarning: Columns (26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  calendar_15 = pd.read_csv("data/CalendarData/CalendarData15min.csv", sep=";")

In [183]:
calendar_15.head(3)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,saturdayPlan,sundayAndHolidayPlan,HelligdagNavn,dayType,period,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0
1,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0
2,2020-01-01,0,30,0,2020,1,1,0,0,0,...,0,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0

In [184]:
passenger_15.head(3)

         date  hour  minute line  passengersBoarding
0  2020-01-01     6      15   1A                  12
1  2020-01-01     6      30   1A                  36
2  2020-01-01     6      45   1A                  51

In [185]:
# Duplicate each row 6 times
calendar_15 = pd.concat([calendar_15] * 6, ignore_index=True)  # Duplicate each row in calendar 6 times
calendar_15 = calendar_15.sort_values(by=["date", "hour", "minute"])  # Sort the dataframe so the new duplicated rows appear after eachother
calendar_15 = calendar_15.reset_index(drop=True)  # Reset the indexes after sorting the dataframe

# Add the bus line to match each line in the passenger table
calendar_15["line"] = np.nan  # Initialize line with nan
calendar_15["line"] = [f"{i}A" for i in range(1, 7)] * int(len(calendar_15) / 6)  # Insert buslines repeating "1A" to "6A"

# Same for 30 minutes and 60 minutes
calendar_30 = pd.concat([calendar_30] * 6, ignore_index=True)  # Duplicate each row in calendar 6 times
calendar_30 = calendar_30.sort_values(by=["date", "hour", "minute"])  # Sort the dataframe so the new duplicated rows appear after eachother
calendar_30 = calendar_30.reset_index(drop=True)  # Reset the indexes after sorting the dataframe

calendar_30["line"] = np.nan  # Initialize line with nan
calendar_30["line"] = [f"{i}A" for i in range(1, 7)] * int(len(calendar_30) / 6)  # Insert buslines repeating "1A" to "6A"

calendar_60 = pd.concat([calendar_60] * 6, ignore_index=True)  # Duplicate each row in calendar 6 times
calendar_60 = calendar_60.sort_values(by=["date", "hour"])  # Sort the dataframe so the new duplicated rows appear after eachother
calendar_60 = calendar_60.reset_index(drop=True)  # Reset the indexes after sorting the dataframe

calendar_60["line"] = np.nan  # Initialize line with nan
calendar_60["line"] = [f"{i}A" for i in range(1, 7)] * int(len(calendar_60) / 6)  # Insert buslines repeating "1A" to "6A"

In [186]:
calendar_15.head(8)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,sundayAndHolidayPlan,HelligdagNavn,dayType,period,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,3A
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,4A
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,5A
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,6A
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A

In [187]:
calendar_30.head(8)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,sundayAndHolidayPlan,HelligdagNavn,dayType,period,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,3A
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,4A
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,5A
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,6A
6,2020-01-01,0,30,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A
7,2020-01-01,0,30,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A

In [188]:
# Left join passenger data onto calendar data by date and hour
calendar_passenger_15 = pd.merge(calendar_15, passenger_15, on=["date", "hour", "minute", "line"], how="left")
calendar_passenger_30 = pd.merge(calendar_30, passenger_30, on=["date", "hour", "minute", "line"], how="left")
calendar_passenger_60 = pd.merge(calendar_60, passenger_60, on=["date", "hour", "line"], how="left")

In [189]:
type(calendar_passenger_15["passengersBoarding"][0])

numpy.float64

In [190]:
# Replace nan values with 0
calendar_passenger_15["passengersBoarding"] = calendar_passenger_15["passengersBoarding"].fillna(0).astype(int)
calendar_passenger_30["passengersBoarding"] = calendar_passenger_30["passengersBoarding"].fillna(0).astype(int)
calendar_passenger_60["passengersBoarding"] = calendar_passenger_60["passengersBoarding"].fillna(0).astype(int)

In [191]:
calendar_passenger_15.head(8)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,HelligdagNavn,dayType,period,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line,passengersBoarding
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A,0
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A,0
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,3A,31
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,4A,0
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,5A,11
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,6A,0
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A,0
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A,0

In [192]:
calendar_passenger_15.columns

Index(['date', 'hour', 'minute', 'peakHour', 'year', 'quarter', 'Q1', 'Q2',
       'Q3', 'Q4', 'month', 'monthNumber', 'weekNumber', 'weekDay',
       'dayNumber', 'weekDayNumber', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat',
       'sun', 'workdayPlan', 'saturdayPlan', 'sundayAndHolidayPlan',
       'HelligdagNavn', 'dayType', 'period', 'summerVacation', 'fallVacation',
       'christmasVacation', 'winterVacation', 'easterVacation', 'line',
       'passengersBoarding'],
      dtype='object')

## Drop irrelevant columns and rename columns

In [193]:
# Drop columns that are already one-hot-encoded or irrelevant
calendar_passenger_15 = calendar_passenger_15.drop(columns=["weekDayNumber", "HelligdagNavn", "dayType", "period"])
calendar_passenger_30 = calendar_passenger_30.drop(columns=["weekDayNumber", "HelligdagNavn", "dayType", "period"])
calendar_passenger_60 = calendar_passenger_60.drop(columns=["weekDayNumber", "HelligdagNavn", "dayType", "period"])

In [194]:
calendar_passenger_15.head(8)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,workdayPlan,saturdayPlan,sundayAndHolidayPlan,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line,passengersBoarding
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1A,0
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,2A,0
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,3A,31
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,4A,0
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,5A,11
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,6A,0
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1A,0
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,2A,0

In [195]:
# Rename some of the other columns
calendar_passenger_15 = calendar_passenger_15.rename(columns={"dayNumber": "dateNumber"})
calendar_passenger_30 = calendar_passenger_30.rename(columns={"dayNumber": "dateNumber"})
calendar_passenger_60 = calendar_passenger_60.rename(columns={"dayNumber": "dateNumber"})

In [196]:
calendar_passenger_15.head(8)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,workdayPlan,saturdayPlan,sundayAndHolidayPlan,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line,passengersBoarding
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1A,0
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,2A,0
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,3A,31
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,4A,0
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,5A,11
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,6A,0
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1A,0
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,2A,0

## Join (Calendar,Passenger) and Climate

In [203]:
climateHour = pd.read_csv("data/ClimateData/ClimateDataHour.csv")

In [200]:
climateHour.head(5)

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed
0,0.0,2024/02/04 00:00:00,2024/02/04 01:00:00,751,0.0,86.0,1009.2,0.0,84.9,4.9,6.0
1,0.0,2024/02/03 23:00:00,2024/02/04 00:00:00,751,0.0,25.0,1009.7,0.0,84.0,4.7,5.9
2,0.0,2024/02/03 22:00:00,2024/02/03 23:00:00,751,0.0,58.0,1010.4,0.0,83.2,4.6,5.9
3,0.0,2024/02/03 21:00:00,2024/02/03 22:00:00,751,0.0,25.0,1010.6,0.0,81.3,4.7,5.6
4,0.0,2024/02/03 20:00:00,2024/02/03 21:00:00,751,0.0,89.0,1011.1,0.0,80.3,4.6,6.1

In [213]:
# Convert "from" to UTC time
climateHour["from_UTC"] = pd.to_datetime(climateHour["from"], format="%Y/%m/%d %H:%M:%S").dt.tz_localize("UTC")

# Convert "from_UTC" to DK time
climateHour["from_DKTIME"] = climateHour["from_UTC"].dt.tz_convert("Europe/Copenhagen")

# Create a date column from the DKTIME
climateHour["date_DKTIME"] = climateHour["from_DKTIME"].dt.date

# Create an hour column from the DKTIME
climateHour["hour_DKTIME"] = climateHour["from_DKTIME"].dt.hour

In [215]:
climateHour.head(5)

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
0,0.0,2024/02/04 00:00:00,2024/02/04 01:00:00,751,0.0,86.0,1009.2,0.0,84.9,4.9,6.0,2024-02-04 00:00:00+00:00,2024-02-04 01:00:00+01:00,2024-02-04,1
1,0.0,2024/02/03 23:00:00,2024/02/04 00:00:00,751,0.0,25.0,1009.7,0.0,84.0,4.7,5.9,2024-02-03 23:00:00+00:00,2024-02-04 00:00:00+01:00,2024-02-04,0
2,0.0,2024/02/03 22:00:00,2024/02/03 23:00:00,751,0.0,58.0,1010.4,0.0,83.2,4.6,5.9,2024-02-03 22:00:00+00:00,2024-02-03 23:00:00+01:00,2024-02-03,23
3,0.0,2024/02/03 21:00:00,2024/02/03 22:00:00,751,0.0,25.0,1010.6,0.0,81.3,4.7,5.6,2024-02-03 21:00:00+00:00,2024-02-03 22:00:00+01:00,2024-02-03,22
4,0.0,2024/02/03 20:00:00,2024/02/03 21:00:00,751,0.0,89.0,1011.1,0.0,80.3,4.6,6.1,2024-02-03 20:00:00+00:00,2024-02-03 21:00:00+01:00,2024-02-03,21