# Data Preparation

In [331]:
import pandas as pd
import numpy as np
from datetime import datetime

## Join Calendar and Passenger

In [332]:
# Read calendar data
calendar_15 = pd.read_csv("data/CalendarData/CalendarData15min.csv", sep=";")
print('Cal15:', calendar_15.shape)
calendar_30 = pd.read_csv("data/CalendarData/CalendarData30min.csv", sep=";")
print('Cal30:', calendar_30.shape)
calendar_60 = pd.read_csv("data/CalendarData/CalendarData60min.csv", sep=";")
print('Cal60:', calendar_60.shape)

# Read passenger data
passenger_15 = pd.read_csv("data/PassengerData/Passenger15min.csv", sep=";")
passenger_15 = passenger_15.rename(columns={"interval15": "minute"})  # Rename the column "interval15" to "minute" (As in calendar)
print('Pas15:', passenger_15.shape)

passenger_30 = pd.read_csv("data/PassengerData/Passenger30min.csv", sep=";")
passenger_30 = passenger_30.rename(columns={"interval30": "minute"})  # Rename the column "interval30" to "minute" (As in calendar)
print('Pas30:', passenger_30.shape)

passenger_60 = pd.read_csv("data/PassengerData/Passenger60min.csv", sep=";")
print('Pas60:', passenger_60.shape)

/var/folders/93/9bwp5y9s6p925yjm6qkgky980000gn/T/ipykernel_11775/974899168.py:2: DtypeWarning: Columns (26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  calendar_15 = pd.read_csv("data/CalendarData/CalendarData15min.csv", sep=";")

Cal15: (156288, 34)
Cal30: (78144, 34)
Cal60: (39072, 33)
Pas15: (689482, 5)
Pas30: (349328, 5)
Pas60: (178742, 4)

In [333]:
calendar_15.head(3)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,saturdayPlan,sundayAndHolidayPlan,HelligdagNavn,dayType,period,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0
1,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0
2,2020-01-01,0,30,0,2020,1,1,0,0,0,...,0,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0

In [334]:
passenger_15.head(3)

         date  hour  minute line  passengersBoarding
0  2020-01-01     6      15   1A                  12
1  2020-01-01     6      30   1A                  36
2  2020-01-01     6      45   1A                  51

In [335]:
# Duplicate each row 6 times
calendar_15 = pd.concat([calendar_15] * 6, ignore_index=True)  # Duplicate each row in calendar 6 times
calendar_15 = calendar_15.sort_values(by=["date", "hour", "minute"])  # Sort the dataframe so the new duplicated rows appear after eachother
calendar_15 = calendar_15.reset_index(drop=True)  # Reset the indexes after sorting the dataframe

# Add the bus line to match each line in the passenger table
calendar_15["line"] = np.nan  # Initialize line with nan
calendar_15["line"] = [f"{i}A" for i in range(1, 7)] * int(len(calendar_15) / 6)  # Insert buslines repeating "1A" to "6A"
print('Cal15:', calendar_15.shape)

# Same for 30 minutes
calendar_30 = pd.concat([calendar_30] * 6, ignore_index=True)  # Duplicate each row in calendar 6 times
calendar_30 = calendar_30.sort_values(by=["date", "hour", "minute"])  # Sort the dataframe so the new duplicated rows appear after eachother
calendar_30 = calendar_30.reset_index(drop=True)  # Reset the indexes after sorting the dataframe

calendar_30["line"] = np.nan  # Initialize line with nan
calendar_30["line"] = [f"{i}A" for i in range(1, 7)] * int(len(calendar_30) / 6)  # Insert buslines repeating "1A" to "6A"
print('Cal30:', calendar_30.shape)

# Same for 60 minutes
calendar_60 = pd.concat([calendar_60] * 6, ignore_index=True)  # Duplicate each row in calendar 6 times
calendar_60 = calendar_60.sort_values(by=["date", "hour"])  # Sort the dataframe so the new duplicated rows appear after eachother
calendar_60 = calendar_60.reset_index(drop=True)  # Reset the indexes after sorting the dataframe

calendar_60["line"] = np.nan  # Initialize line with nan
calendar_60["line"] = [f"{i}A" for i in range(1, 7)] * int(len(calendar_60) / 6)  # Insert buslines repeating "1A" to "6A"
print('Cal60:', calendar_60.shape)

Cal15: (937728, 35)
Cal30: (468864, 35)
Cal60: (234432, 34)

In [336]:
calendar_15.head(8)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,sundayAndHolidayPlan,HelligdagNavn,dayType,period,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,3A
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,4A
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,5A
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,6A
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A

In [337]:
calendar_30.head(8)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,sundayAndHolidayPlan,HelligdagNavn,dayType,period,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,3A
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,4A
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,5A
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,6A
6,2020-01-01,0,30,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A
7,2020-01-01,0,30,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A

In [338]:
# Left join passenger data onto calendar data by date and hour
calendar_passenger_15 = pd.merge(calendar_15, passenger_15, on=["date", "hour", "minute", "line"], how="left")
calendar_passenger_30 = pd.merge(calendar_30, passenger_30, on=["date", "hour", "minute", "line"], how="left")
calendar_passenger_60 = pd.merge(calendar_60, passenger_60, on=["date", "hour", "line"], how="left")

In [339]:
type(calendar_passenger_15["passengersBoarding"][0])

numpy.float64

In [340]:
# Replace nan values with 0
calendar_passenger_15["passengersBoarding"] = calendar_passenger_15["passengersBoarding"].fillna(0).astype(int)
calendar_passenger_30["passengersBoarding"] = calendar_passenger_30["passengersBoarding"].fillna(0).astype(int)
calendar_passenger_60["passengersBoarding"] = calendar_passenger_60["passengersBoarding"].fillna(0).astype(int)

In [341]:
calendar_passenger_15.head(8)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,HelligdagNavn,dayType,period,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line,passengersBoarding
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A,0
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A,0
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,3A,31
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,4A,0
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,5A,11
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,6A,0
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A,0
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A,0

In [342]:
# localize date to DK time zone but keep only date object
print(type(calendar_passenger_15['date'].loc[0]))
calendar_passenger_15['date'] = pd.to_datetime(calendar_passenger_15['date'], format='%Y-%m-%d').dt.tz_localize('Europe/Copenhagen').dt.date
calendar_passenger_30['date'] = pd.to_datetime(calendar_passenger_30['date'], format='%Y-%m-%d').dt.tz_localize('Europe/Copenhagen').dt.date
calendar_passenger_60['date'] = pd.to_datetime(calendar_passenger_60['date'], format='%Y-%m-%d').dt.tz_localize('Europe/Copenhagen').dt.date

<class 'str'>

In [343]:
calendar_passenger_15.head(10)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,HelligdagNavn,dayType,period,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line,passengersBoarding
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A,0
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A,0
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,3A,31
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,4A,0
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,5A,11
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,6A,0
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A,0
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A,0
8,2020-01-01,0,15,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,3A,25
9,2020-01-01,0,15,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,4A,0

In [344]:
calendar_passenger_15.dtypes

date                    object
hour                     int64
minute                   int64
peakHour                 int64
year                     int64
quarter                  int64
Q1                       int64
Q2                       int64
Q3                       int64
Q4                       int64
month                   object
monthNumber              int64
weekNumber               int64
weekDay                 object
dayNumber                int64
weekDayNumber            int64
mon                      int64
tue                      int64
wed                      int64
thu                      int64
fri                      int64
sat                      int64
sun                      int64
workdayPlan              int64
saturdayPlan             int64
sundayAndHolidayPlan     int64
HelligdagNavn           object
dayType                 object
period                  object
summerVacation           int64
fallVacation             int64
christmasVacation        int64
winterVacation           int64
easterVacation           int64
line                    object
passengersBoarding       int64
dtype: object

In [345]:
type(calendar_passenger_15['date'].loc[0])

datetime.date

## Drop irrelevant columns and rename columns

In [346]:
# Drop columns that are already one-hot-encoded or irrelevant
calendar_passenger_15 = calendar_passenger_15.drop(columns=["weekDayNumber", "HelligdagNavn", "dayType", "period"])
calendar_passenger_30 = calendar_passenger_30.drop(columns=["weekDayNumber", "HelligdagNavn", "dayType", "period"])
calendar_passenger_60 = calendar_passenger_60.drop(columns=["weekDayNumber", "HelligdagNavn", "dayType", "period"])

In [347]:
calendar_passenger_15.head(8)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,workdayPlan,saturdayPlan,sundayAndHolidayPlan,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line,passengersBoarding
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1A,0
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,2A,0
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,3A,31
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,4A,0
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,5A,11
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,6A,0
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1A,0
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,2A,0

In [348]:
# Rename some of the other columns
calendar_passenger_15 = calendar_passenger_15.rename(columns={"dayNumber": "dateNumber"})
calendar_passenger_30 = calendar_passenger_30.rename(columns={"dayNumber": "dateNumber"})
calendar_passenger_60 = calendar_passenger_60.rename(columns={"dayNumber": "dateNumber"})

In [349]:
calendar_passenger_15.head(8)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,workdayPlan,saturdayPlan,sundayAndHolidayPlan,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line,passengersBoarding
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1A,0
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,2A,0
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,3A,31
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,4A,0
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,5A,11
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,6A,0
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1A,0
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,2A,0

## Join (Calendar,Passenger) and Climate

In [350]:
climateHour = pd.read_csv("data/ClimateData/ClimateDataHour.csv")
climateDay = pd.read_csv("data/ClimateData/ClimateDataDay.csv")

In [351]:
climateHour.head(5)

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed
0,0.0,2024/02/04 00:00:00,2024/02/04 01:00:00,751,0.0,86.0,1009.2,0.0,84.9,4.9,6.0
1,0.0,2024/02/03 23:00:00,2024/02/04 00:00:00,751,0.0,25.0,1009.7,0.0,84.0,4.7,5.9
2,0.0,2024/02/03 22:00:00,2024/02/03 23:00:00,751,0.0,58.0,1010.4,0.0,83.2,4.6,5.9
3,0.0,2024/02/03 21:00:00,2024/02/03 22:00:00,751,0.0,25.0,1010.6,0.0,81.3,4.7,5.6
4,0.0,2024/02/03 20:00:00,2024/02/03 21:00:00,751,0.0,89.0,1011.1,0.0,80.3,4.6,6.1

In [352]:
climateDay.head(5)

   snow_depth                 from                   to  municipalityId
0         0.0  2024/02/03 06:00:00  2024/02/04 06:00:00             751
1         0.0  2024/02/02 06:00:00  2024/02/03 06:00:00             751
2         0.0  2024/02/01 06:00:00  2024/02/02 06:00:00             751
3         0.0  2024/01/31 06:00:00  2024/02/01 06:00:00             751
4         0.0  2024/01/30 06:00:00  2024/01/31 06:00:00             751

In [353]:
# Define "from" as UTC time
climateHour["from_UTC"] = pd.to_datetime(climateHour["from"], format="%Y/%m/%d %H:%M:%S").dt.tz_localize("UTC")
climateDay["from_UTC"] = pd.to_datetime(climateDay["from"], format="%Y/%m/%d %H:%M:%S").dt.tz_localize("UTC")

In [354]:
# transform one row of day interval to 24 rows of hour intervals with same snow depth observation
# add a list of 24 hour shifts to each row
climateDay['hourshift'] = [[pd.Timedelta(hours=i) for i in range(24)] for j in range(climateDay.shape[0])]

# expand each row to a set of rows for each element in list
climateDay = climateDay.explode('hourshift')
climateDay = climateDay.reset_index()

# add shift to date
climateDay['date_hour_UTC'] = climateDay['from_UTC'] + climateDay['hourshift']
climateDay.head(30)

,index,snow_depth,from,to,municipalityId,from_UTC,hourshift,date_hour_UTC
0,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 00:00:00,2024-02-03 06:00:00+00:00
1,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 01:00:00,2024-02-03 07:00:00+00:00
2,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 02:00:00,2024-02-03 08:00:00+00:00
3,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 03:00:00,2024-02-03 09:00:00+00:00
4,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 04:00:00,2024-02-03 10:00:00+00:00
5,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 05:00:00,2024-02-03 11:00:00+00:00
6,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 06:00:00,2024-02-03 12:00:00+00:00
7,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 07:00:00,2024-02-03 13:00:00+00:00
8,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 08:00:00,2024-02-03 14:00:00+00:00
9,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 09:00:00,2024-02-03 15:00:00+00:00
10,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 10:00:00,2024-02-03 16:00:00+00:00
11,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 11:00:00,2024-02-03 17:00:00+00:00
12,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 12:00:00,2024-02-03 18:00:00+00:00
13,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 13:00:00,2024-02-03 19:00:00+00:00
14,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 14:00:00,2024-02-03 20:00:00+00:00
15,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 15:00:00,2024-02-03 21:00:00+00:00
16,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 16:00:00,2024-02-03 22:00:00+00:00
17,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 17:00:00,2024-02-03 23:00:00+00:00
18,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 18:00:00,2024-02-04 00:00:00+00:00
19,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 19:00:00,2024-02-04 01:00:00+00:00
20,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 20:00:00,2024-02-04 02:00:00+00:00
21,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 21:00:00,2024-02-04 03:00:00+00:00
22,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 22:00:00,2024-02-04 04:00:00+00:00
23,0,0.0,2024/02/03 06:00:00,2024/02/04 06:00:00,751,2024-02-03 06:00:00+00:00,0 days 23:00:00,2024-02-04 05:00:00+00:00
24,1,0.0,2024/02/02 06:00:00,2024/02/03 06:00:00,751,2024-02-02 06:00:00+00:00,0 days 00:00:00,2024-02-02 06:00:00+00:00
25,1,0.0,2024/02/02 06:00:00,2024/02/03 06:00:00,751,2024-02-02 06:00:00+00:00,0 days 01:00:00,2024-02-02 07:00:00+00:00
26,1,0.0,2024/02/02 06:00:00,2024/02/03 06:00:00,751,2024-02-02 06:00:00+00:00,0 days 02:00:00,2024-02-02 08:00:00+00:00
27,1,0.0,2024/02/02 06:00:00,2024/02/03 06:00:00,751,2024-02-02 06:00:00+00:00,0 days 03:00:00,2024-02-02 09:00:00+00:00
28,1,0.0,2024/02/02 06:00:00,2024/02/03 06:00:00,751,2024-02-02 06:00:00+00:00,0 days 04:00:00,2024-02-02 10:00:00+00:00
29,1,0.0,2024/02/02 06:00:00,2024/02/03 06:00:00,751,2024-02-02 06:00:00+00:00,0 days 05:00:00,2024-02-02 11:00:00+00:00

In [355]:
# drop irrelevant and temporary columns
climateDay = climateDay.drop(columns=['index', 'from', 'to', 'from_UTC', 'hourshift'])

In [356]:
# merge by date hour UTC
climateHour = climateHour.merge(climateDay, left_on=['from_UTC', 'municipalityId'], right_on=['date_hour_UTC', 'municipalityId'], how='left')
climateHour.head(30)

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,snow_depth,date_hour_UTC
0,0.0,2024/02/04 00:00:00,2024/02/04 01:00:00,751,0.0,86.0,1009.2,0.0,84.9,4.9,6.0,2024-02-04 00:00:00+00:00,0.0,2024-02-04 00:00:00+00:00
1,0.0,2024/02/03 23:00:00,2024/02/04 00:00:00,751,0.0,25.0,1009.7,0.0,84.0,4.7,5.9,2024-02-03 23:00:00+00:00,0.0,2024-02-03 23:00:00+00:00
2,0.0,2024/02/03 22:00:00,2024/02/03 23:00:00,751,0.0,58.0,1010.4,0.0,83.2,4.6,5.9,2024-02-03 22:00:00+00:00,0.0,2024-02-03 22:00:00+00:00
3,0.0,2024/02/03 21:00:00,2024/02/03 22:00:00,751,0.0,25.0,1010.6,0.0,81.3,4.7,5.6,2024-02-03 21:00:00+00:00,0.0,2024-02-03 21:00:00+00:00
4,0.0,2024/02/03 20:00:00,2024/02/03 21:00:00,751,0.0,89.0,1011.1,0.0,80.3,4.6,6.1,2024-02-03 20:00:00+00:00,0.0,2024-02-03 20:00:00+00:00
5,0.0,2024/02/03 19:00:00,2024/02/03 20:00:00,751,0.0,23.0,1011.2,0.0,77.8,4.8,6.6,2024-02-03 19:00:00+00:00,0.0,2024-02-03 19:00:00+00:00
6,0.0,2024/02/03 18:00:00,2024/02/03 19:00:00,751,0.0,45.0,1011.3,0.0,76.4,5.1,6.3,2024-02-03 18:00:00+00:00,0.0,2024-02-03 18:00:00+00:00
7,0.0,2024/02/03 17:00:00,2024/02/03 18:00:00,751,0.0,64.0,1011.2,0.0,76.7,5.0,6.4,2024-02-03 17:00:00+00:00,0.0,2024-02-03 17:00:00+00:00
8,0.0,2024/02/03 16:00:00,2024/02/03 17:00:00,751,0.0,17.0,1010.7,0.5,74.2,5.4,6.5,2024-02-03 16:00:00+00:00,0.0,2024-02-03 16:00:00+00:00
9,0.0,2024/02/03 15:00:00,2024/02/03 16:00:00,751,17.4,47.0,1010.4,23.4,71.0,6.3,7.3,2024-02-03 15:00:00+00:00,0.0,2024-02-03 15:00:00+00:00
10,0.0,2024/02/03 14:00:00,2024/02/03 15:00:00,751,43.7,73.0,1010.0,94.3,70.6,7.1,8.3,2024-02-03 14:00:00+00:00,0.0,2024-02-03 14:00:00+00:00
11,0.0,2024/02/03 13:00:00,2024/02/03 14:00:00,751,50.0,75.0,1009.7,181.0,67.5,8.1,8.8,2024-02-03 13:00:00+00:00,0.0,2024-02-03 13:00:00+00:00
12,0.0,2024/02/03 12:00:00,2024/02/03 13:00:00,751,51.2,49.0,1009.5,234.6,67.3,8.4,8.8,2024-02-03 12:00:00+00:00,0.0,2024-02-03 12:00:00+00:00
13,0.0,2024/02/03 11:00:00,2024/02/03 12:00:00,751,42.6,9.0,1009.4,224.7,71.2,8.4,8.6,2024-02-03 11:00:00+00:00,0.0,2024-02-03 11:00:00+00:00
14,0.0,2024/02/03 10:00:00,2024/02/03 11:00:00,751,43.1,10.0,1009.4,207.0,75.0,7.9,8.1,2024-02-03 10:00:00+00:00,0.0,2024-02-03 10:00:00+00:00
15,0.0,2024/02/03 09:00:00,2024/02/03 10:00:00,751,48.2,3.0,1009.1,159.3,77.0,7.5,8.2,2024-02-03 09:00:00+00:00,0.0,2024-02-03 09:00:00+00:00
16,0.0,2024/02/03 08:00:00,2024/02/03 09:00:00,751,33.9,5.0,1008.9,87.3,78.3,7.0,7.6,2024-02-03 08:00:00+00:00,0.0,2024-02-03 08:00:00+00:00
17,0.0,2024/02/03 07:00:00,2024/02/03 08:00:00,751,10.9,11.0,1008.6,15.6,78.2,7.0,7.1,2024-02-03 07:00:00+00:00,0.0,2024-02-03 07:00:00+00:00
18,0.0,2024/02/03 06:00:00,2024/02/03 07:00:00,751,0.0,61.0,1008.4,0.2,78.8,7.2,6.7,2024-02-03 06:00:00+00:00,0.0,2024-02-03 06:00:00+00:00
19,0.0,2024/02/03 05:00:00,2024/02/03 06:00:00,751,0.0,15.0,1008.4,0.0,85.4,7.3,6.7,2024-02-03 05:00:00+00:00,0.0,2024-02-03 05:00:00+00:00
20,0.0,2024/02/03 04:00:00,2024/02/03 05:00:00,751,0.0,49.0,1008.2,0.0,86.6,8.0,7.5,2024-02-03 04:00:00+00:00,0.0,2024-02-03 04:00:00+00:00
21,0.0,2024/02/03 03:00:00,2024/02/03 04:00:00,751,0.0,91.0,1007.8,0.0,89.1,8.2,7.4,2024-02-03 03:00:00+00:00,0.0,2024-02-03 03:00:00+00:00
22,0.0,2024/02/03 02:00:00,2024/02/03 03:00:00,751,0.0,92.0,1007.9,0.0,88.9,8.2,7.4,2024-02-03 02:00:00+00:00,0.0,2024-02-03 02:00:00+00:00
23,0.0,2024/02/03 01:00:00,2024/02/03 02:00:00,751,0.0,80.0,1008.2,0.0,88.7,8.3,7.2,2024-02-03 01:00:00+00:00,0.0,2024-02-03 01:00:00+00:00
24,0.0,2024/02/03 00:00:00,2024/02/03 01:00:00,751,0.0,100.0,1008.2,0.0,90.0,8.2,7.3,2024-02-03 00:00:00+00:00,0.0,2024-02-03 00:00:00+00:00
25,0.0,2024/02/02 23:00:00,2024/02/03 00:00:00,751,0.0,92.0,1008.0,0.0,89.2,8.1,7.0,2024-02-02 23:00:00+00:00,0.0,2024-02-02 23:00:00+00:00
26,0.0,2024/02/02 22:00:00,2024/02/02 23:00:00,751,0.0,100.0,1008.0,0.0,91.0,7.8,6.7,2024-02-02 22:00:00+00:00,0.0,2024-02-02 22:00:00+00:00
27,0.0,2024/02/02 21:00:00,2024/02/02 22:00:00,751,0.0,100.0,1008.3,0.0,92.7,7.6,6.5,2024-02-02 21:00:00+00:00,0.0,2024-02-02 21:00:00+00:00
28,0.0,2024/02/02 20:00:00,2024/02/02 21:00:00,751,0.0,100.0,1008.7,0.0,92.1,7.7,6.7,2024-02-02 20:00:00+00:00,0.0,2024-02-02 20:00:00+00:00
29,0.0,2024/02/02 19:00:00,2024/02/02 20:00:00,751,0.0,100.0,1008.8,0.0,90.4,7.7,6.6,2024-02-02 19:00:00+00:00,0.0,2024-02-02 19:00:00+00:00

In [357]:
# Convert "from_UTC" to DK time
climateHour["from_DKTIME"] = climateHour["from_UTC"].dt.tz_convert("Europe/Copenhagen")

# Create a date column from the DKTIME
climateHour["date_DKTIME"] = climateHour["from_DKTIME"].dt.date

# Create an hour column from the DKTIME
climateHour["hour_DKTIME"] = climateHour["from_DKTIME"].dt.hour

In [358]:
# now we have days with 25 hours (duplicate hour 2)
climateHour[(climateHour['date_DKTIME'] == datetime(2023, 10, 29).date()) & (climateHour['hour_DKTIME'] <= 5)]

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,snow_depth,date_hour_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
2348,0.0,2023/10/29 04:00:00,2023/10/29 05:00:00,751,0.0,99.0,996.9,0.0,93.5,7.9,6.2,2023-10-29 04:00:00+00:00,0.0,2023-10-29 04:00:00+00:00,2023-10-29 05:00:00+01:00,2023-10-29,5
2349,0.1,2023/10/29 03:00:00,2023/10/29 04:00:00,751,0.0,98.0,998.2,0.0,92.9,7.7,5.7,2023-10-29 03:00:00+00:00,0.0,2023-10-29 03:00:00+00:00,2023-10-29 04:00:00+01:00,2023-10-29,4
2350,0.1,2023/10/29 02:00:00,2023/10/29 03:00:00,751,0.0,98.0,998.8,0.0,93.6,7.4,5.6,2023-10-29 02:00:00+00:00,0.0,2023-10-29 02:00:00+00:00,2023-10-29 03:00:00+01:00,2023-10-29,3
2351,0.4,2023/10/29 01:00:00,2023/10/29 02:00:00,751,0.0,95.0,999.4,0.0,93.3,7.5,5.1,2023-10-29 01:00:00+00:00,0.0,2023-10-29 01:00:00+00:00,2023-10-29 02:00:00+01:00,2023-10-29,2
2352,0.1,2023/10/29 00:00:00,2023/10/29 01:00:00,751,0.0,95.0,1000.2,0.0,93.1,7.3,5.1,2023-10-29 00:00:00+00:00,0.0,2023-10-29 00:00:00+00:00,2023-10-29 02:00:00+02:00,2023-10-29,2
2353,0.4,2023/10/28 23:00:00,2023/10/29 00:00:00,751,0.0,99.0,1001.1,0.0,94.4,7.1,4.9,2023-10-28 23:00:00+00:00,0.0,2023-10-28 23:00:00+00:00,2023-10-29 01:00:00+02:00,2023-10-29,1
2354,0.3,2023/10/28 22:00:00,2023/10/28 23:00:00,751,0.0,99.0,1001.7,0.0,93.2,7.2,4.8,2023-10-28 22:00:00+00:00,0.0,2023-10-28 22:00:00+00:00,2023-10-29 00:00:00+02:00,2023-10-29,0

In [359]:
# and some days with 23 hours (missing hour 2)
climateHour[(climateHour['date_DKTIME'] == datetime(2023, 3, 26).date()) & (climateHour['hour_DKTIME'] <= 5)]

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,snow_depth,date_hour_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
7557,0.0,2023/03/26 03:00:00,2023/03/26 04:00:00,751,0.0,91.0,998.3,0.0,78.0,3.6,4.2,2023-03-26 03:00:00+00:00,0.0,2023-03-26 03:00:00+00:00,2023-03-26 05:00:00+02:00,2023-03-26,5
7558,0.0,2023/03/26 02:00:00,2023/03/26 03:00:00,751,0.0,92.0,998.2,0.0,82.1,3.9,3.9,2023-03-26 02:00:00+00:00,0.0,2023-03-26 02:00:00+00:00,2023-03-26 04:00:00+02:00,2023-03-26,4
7559,0.0,2023/03/26 01:00:00,2023/03/26 02:00:00,751,0.0,84.0,997.9,0.0,88.6,4.4,3.4,2023-03-26 01:00:00+00:00,0.0,2023-03-26 01:00:00+00:00,2023-03-26 03:00:00+02:00,2023-03-26,3
7560,0.1,2023/03/26 00:00:00,2023/03/26 01:00:00,751,0.0,93.0,997.7,0.0,91.7,4.7,3.0,2023-03-26 00:00:00+00:00,0.0,2023-03-26 00:00:00+00:00,2023-03-26 01:00:00+01:00,2023-03-26,1
7561,0.0,2023/03/25 23:00:00,2023/03/26 00:00:00,751,0.0,92.0,997.3,0.0,92.9,4.9,3.2,2023-03-25 23:00:00+00:00,0.0,2023-03-25 23:00:00+00:00,2023-03-26 00:00:00+01:00,2023-03-26,0

In [360]:
# find days where hour 2 is missing and create NaN row
new_hours = []
days = pd.unique(climateHour['date_DKTIME'])
for i, day in enumerate(days):    
    day_df = climateHour[climateHour['date_DKTIME'] == day]
    hour_df = day_df[day_df['hour_DKTIME'] == 2]
    if hour_df.shape[0] == 0:
        print(day, 'hour: 2')
        new_hour = pd.DataFrame(np.nan, index=[0], columns=day_df.columns)
        new_hour['date_DKTIME'] = day
        new_hour['hour_DKTIME'] = 2
        new_hours.append(new_hour)
new_hours[0]

2024-02-04 hour: 2
2023-03-26 hour: 2
2022-03-27 hour: 2
2021-03-28 hour: 2
2020-03-29 hour: 2

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,snow_depth,date_hour_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-02-04,2

In [361]:
# concat hour 2 for each missing day
for df in new_hours:
    climateHour = pd.concat([climateHour, df])

climateHour.tail(10)

/var/folders/93/9bwp5y9s6p925yjm6qkgky980000gn/T/ipykernel_11775/868053453.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  climateHour = pd.concat([climateHour, df])

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,snow_depth,date_hour_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
36164,0.0,2019/12/20 04:00:00,2019/12/20 05:00:00,751.0,0.0,95.0,998.8,0.2,99.2,5.5,5.4,2019-12-20 04:00:00+00:00,NaN,NaT,2019-12-20 05:00:00+01:00,2019-12-20,5
36165,0.0,2019/12/20 03:00:00,2019/12/20 04:00:00,751.0,0.0,98.0,999.6,0.2,98.0,5.9,5.2,2019-12-20 03:00:00+00:00,NaN,NaT,2019-12-20 04:00:00+01:00,2019-12-20,4
36166,0.0,2019/12/20 02:00:00,2019/12/20 03:00:00,751.0,0.0,94.0,1000.8,0.2,96.6,6.1,4.8,2019-12-20 02:00:00+00:00,NaN,NaT,2019-12-20 03:00:00+01:00,2019-12-20,3
36167,0.0,2019/12/20 01:00:00,2019/12/20 02:00:00,751.0,0.0,84.0,1001.7,0.1,96.3,5.9,4.2,2019-12-20 01:00:00+00:00,NaN,NaT,2019-12-20 02:00:00+01:00,2019-12-20,2
36168,0.0,2019/12/20 00:00:00,2019/12/20 01:00:00,751.0,0.0,1.0,1002.3,0.2,95.5,6.0,3.7,2019-12-20 00:00:00+00:00,NaN,NaT,2019-12-20 01:00:00+01:00,2019-12-20,1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,2024-02-04,2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,2023-03-26,2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,2022-03-27,2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,2021-03-28,2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaT,2020-03-29,2

In [362]:
# sort and interpolate missing data points
climateHour = climateHour.sort_values(by=['date_DKTIME', 'hour_DKTIME'], ascending=[False, False])

cols_interpolate = ['acc_precip', 'bright_sunshine', 'mean_cloud_cover', 'mean_pressure', 'mean_radiation', 'mean_relative_hum', 'mean_temp', 'mean_wind_speed', 'snow_depth']
climateHour[cols_interpolate] = climateHour[cols_interpolate].interpolate()
climateHour[(climateHour['date_DKTIME'] == datetime(2023, 3, 26).date()) & (climateHour['hour_DKTIME'] <= 5)]

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,snow_depth,date_hour_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
7557,0.00,2023/03/26 03:00:00,2023/03/26 04:00:00,751.0,0.0,91.0,998.3,0.0,78.00,3.60,4.2,2023-03-26 03:00:00+00:00,0.0,2023-03-26 03:00:00+00:00,2023-03-26 05:00:00+02:00,2023-03-26,5
7558,0.00,2023/03/26 02:00:00,2023/03/26 03:00:00,751.0,0.0,92.0,998.2,0.0,82.10,3.90,3.9,2023-03-26 02:00:00+00:00,0.0,2023-03-26 02:00:00+00:00,2023-03-26 04:00:00+02:00,2023-03-26,4
7559,0.00,2023/03/26 01:00:00,2023/03/26 02:00:00,751.0,0.0,84.0,997.9,0.0,88.60,4.40,3.4,2023-03-26 01:00:00+00:00,0.0,2023-03-26 01:00:00+00:00,2023-03-26 03:00:00+02:00,2023-03-26,3
0,0.05,NaN,NaN,NaN,0.0,88.5,997.8,0.0,90.15,4.55,3.2,NaT,0.0,NaT,NaT,2023-03-26,2
7560,0.10,2023/03/26 00:00:00,2023/03/26 01:00:00,751.0,0.0,93.0,997.7,0.0,91.70,4.70,3.0,2023-03-26 00:00:00+00:00,0.0,2023-03-26 00:00:00+00:00,2023-03-26 01:00:00+01:00,2023-03-26,1
7561,0.00,2023/03/25 23:00:00,2023/03/26 00:00:00,751.0,0.0,92.0,997.3,0.0,92.90,4.90,3.2,2023-03-25 23:00:00+00:00,0.0,2023-03-25 23:00:00+00:00,2023-03-26 00:00:00+01:00,2023-03-26,0

In [363]:
# drop duplicates so 25 hour days become 24 hour days
climateHour = climateHour.drop_duplicates(subset=['date_DKTIME', 'hour_DKTIME'])

In [364]:
climateHour[(climateHour['date_DKTIME'] == datetime(2023, 10, 29).date()) & (climateHour['hour_DKTIME'] <= 5)]

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,snow_depth,date_hour_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
2348,0.0,2023/10/29 04:00:00,2023/10/29 05:00:00,751.0,0.0,99.0,996.9,0.0,93.5,7.9,6.2,2023-10-29 04:00:00+00:00,0.0,2023-10-29 04:00:00+00:00,2023-10-29 05:00:00+01:00,2023-10-29,5
2349,0.1,2023/10/29 03:00:00,2023/10/29 04:00:00,751.0,0.0,98.0,998.2,0.0,92.9,7.7,5.7,2023-10-29 03:00:00+00:00,0.0,2023-10-29 03:00:00+00:00,2023-10-29 04:00:00+01:00,2023-10-29,4
2350,0.1,2023/10/29 02:00:00,2023/10/29 03:00:00,751.0,0.0,98.0,998.8,0.0,93.6,7.4,5.6,2023-10-29 02:00:00+00:00,0.0,2023-10-29 02:00:00+00:00,2023-10-29 03:00:00+01:00,2023-10-29,3
2351,0.4,2023/10/29 01:00:00,2023/10/29 02:00:00,751.0,0.0,95.0,999.4,0.0,93.3,7.5,5.1,2023-10-29 01:00:00+00:00,0.0,2023-10-29 01:00:00+00:00,2023-10-29 02:00:00+01:00,2023-10-29,2
2353,0.4,2023/10/28 23:00:00,2023/10/29 00:00:00,751.0,0.0,99.0,1001.1,0.0,94.4,7.1,4.9,2023-10-28 23:00:00+00:00,0.0,2023-10-28 23:00:00+00:00,2023-10-29 01:00:00+02:00,2023-10-29,1
2354,0.3,2023/10/28 22:00:00,2023/10/28 23:00:00,751.0,0.0,99.0,1001.7,0.0,93.2,7.2,4.8,2023-10-28 22:00:00+00:00,0.0,2023-10-28 22:00:00+00:00,2023-10-29 00:00:00+02:00,2023-10-29,0

In [365]:
# join calendar - passenger left join climate hour
df_15 = pd.merge(calendar_passenger_15, climateHour, left_on=["date", "hour"], right_on=["date_DKTIME", "hour_DKTIME"], how="left")
df_30 = pd.merge(calendar_passenger_30, climateHour, left_on=["date", "hour"], right_on=["date_DKTIME", "hour_DKTIME"], how="left")
df_60 = pd.merge(calendar_passenger_60, climateHour, left_on=["date", "hour"], right_on=["date_DKTIME", "hour_DKTIME"], how="left")

In [366]:
df_15.head(10)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,snow_depth,date_hour_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,0.0,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,0.0,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,0.0,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,0.0,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,0.0,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,0.0,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,0.0,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,0.0,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
8,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,0.0,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
9,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,0.0,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0

In [367]:
# check if missing hour is present
df_15[(df_15['date'] == datetime(2023, 3, 26).date()) & (df_15['hour'] >= 0) & (df_15['hour'] <= 3) & (df_15['line'] == '1A')]

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,snow_depth,date_hour_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
679680,2023-03-26,0,0,0,2023,1,1,0,0,0,...,0.0,92.90,4.90,3.2,2023-03-25 23:00:00+00:00,0.0,2023-03-25 23:00:00+00:00,2023-03-26 00:00:00+01:00,2023-03-26,0.0
679686,2023-03-26,0,15,0,2023,1,1,0,0,0,...,0.0,92.90,4.90,3.2,2023-03-25 23:00:00+00:00,0.0,2023-03-25 23:00:00+00:00,2023-03-26 00:00:00+01:00,2023-03-26,0.0
679692,2023-03-26,0,30,0,2023,1,1,0,0,0,...,0.0,92.90,4.90,3.2,2023-03-25 23:00:00+00:00,0.0,2023-03-25 23:00:00+00:00,2023-03-26 00:00:00+01:00,2023-03-26,0.0
679698,2023-03-26,0,45,0,2023,1,1,0,0,0,...,0.0,92.90,4.90,3.2,2023-03-25 23:00:00+00:00,0.0,2023-03-25 23:00:00+00:00,2023-03-26 00:00:00+01:00,2023-03-26,0.0
679704,2023-03-26,1,0,0,2023,1,1,0,0,0,...,0.0,91.70,4.70,3.0,2023-03-26 00:00:00+00:00,0.0,2023-03-26 00:00:00+00:00,2023-03-26 01:00:00+01:00,2023-03-26,1.0
679710,2023-03-26,1,15,0,2023,1,1,0,0,0,...,0.0,91.70,4.70,3.0,2023-03-26 00:00:00+00:00,0.0,2023-03-26 00:00:00+00:00,2023-03-26 01:00:00+01:00,2023-03-26,1.0
679716,2023-03-26,1,30,0,2023,1,1,0,0,0,...,0.0,91.70,4.70,3.0,2023-03-26 00:00:00+00:00,0.0,2023-03-26 00:00:00+00:00,2023-03-26 01:00:00+01:00,2023-03-26,1.0
679722,2023-03-26,1,45,0,2023,1,1,0,0,0,...,0.0,91.70,4.70,3.0,2023-03-26 00:00:00+00:00,0.0,2023-03-26 00:00:00+00:00,2023-03-26 01:00:00+01:00,2023-03-26,1.0
679728,2023-03-26,2,0,0,2023,1,1,0,0,0,...,0.0,90.15,4.55,3.2,NaT,0.0,NaT,NaT,2023-03-26,2.0
679734,2023-03-26,2,15,0,2023,1,1,0,0,0,...,0.0,90.15,4.55,3.2,NaT,0.0,NaT,NaT,2023-03-26,2.0
679740,2023-03-26,2,30,0,2023,1,1,0,0,0,...,0.0,90.15,4.55,3.2,NaT,0.0,NaT,NaT,2023-03-26,2.0
679746,2023-03-26,2,45,0,2023,1,1,0,0,0,...,0.0,90.15,4.55,3.2,NaT,0.0,NaT,NaT,2023-03-26,2.0
679752,2023-03-26,3,0,0,2023,1,1,0,0,0,...,0.0,88.60,4.40,3.4,2023-03-26 01:00:00+00:00,0.0,2023-03-26 01:00:00+00:00,2023-03-26 03:00:00+02:00,2023-03-26,3.0
679758,2023-03-26,3,15,0,2023,1,1,0,0,0,...,0.0,88.60,4.40,3.4,2023-03-26 01:00:00+00:00,0.0,2023-03-26 01:00:00+00:00,2023-03-26 03:00:00+02:00,2023-03-26,3.0
679764,2023-03-26,3,30,0,2023,1,1,0,0,0,...,0.0,88.60,4.40,3.4,2023-03-26 01:00:00+00:00,0.0,2023-03-26 01:00:00+00:00,2023-03-26 03:00:00+02:00,2023-03-26,3.0
679770,2023-03-26,3,45,0,2023,1,1,0,0,0,...,0.0,88.60,4.40,3.4,2023-03-26 01:00:00+00:00,0.0,2023-03-26 01:00:00+00:00,2023-03-26 03:00:00+02:00,2023-03-26,3.0

In [368]:
# drop irrelevant columns
cols_to_drop = ['from', 'to', 'municipalityId', 'from_UTC', 'from_DKTIME', 'date_DKTIME', 'hour_DKTIME', 'mean_radiation', 'date_hour_UTC']
df_15 = df_15.drop(columns=cols_to_drop)
df_30 = df_30.drop(columns=cols_to_drop)
df_60 = df_60.drop(columns=cols_to_drop)

In [369]:
df_15.head(10)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,line,passengersBoarding,acc_precip,bright_sunshine,mean_cloud_cover,mean_pressure,mean_relative_hum,mean_temp,mean_wind_speed,snow_depth
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1A,0,0.0,0.0,59.0,1030.8,86.2,3.2,3.3,0.0
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,2A,0,0.0,0.0,59.0,1030.8,86.2,3.2,3.3,0.0
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,3A,31,0.0,0.0,59.0,1030.8,86.2,3.2,3.3,0.0
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,4A,0,0.0,0.0,59.0,1030.8,86.2,3.2,3.3,0.0
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,5A,11,0.0,0.0,59.0,1030.8,86.2,3.2,3.3,0.0
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,6A,0,0.0,0.0,59.0,1030.8,86.2,3.2,3.3,0.0
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,1A,0,0.0,0.0,59.0,1030.8,86.2,3.2,3.3,0.0
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,2A,0,0.0,0.0,59.0,1030.8,86.2,3.2,3.3,0.0
8,2020-01-01,0,15,0,2020,1,1,0,0,0,...,3A,25,0.0,0.0,59.0,1030.8,86.2,3.2,3.3,0.0
9,2020-01-01,0,15,0,2020,1,1,0,0,0,...,4A,0,0.0,0.0,59.0,1030.8,86.2,3.2,3.3,0.0

In [370]:
# add a datetime column for easy plotting
df_15['datetime'] = pd.to_datetime(df_15['date'].astype(str) + ' ' + df_15['hour'].astype(str).str.zfill(2) + ':' + df_15['minute'].astype(str).str.zfill(2) + ':00', format='%Y-%m-%d %H:%M:%S')
df_30['datetime'] = pd.to_datetime(df_30['date'].astype(str) + ' ' + df_30['hour'].astype(str).str.zfill(2) + ':' + df_30['minute'].astype(str).str.zfill(2) + ':00', format='%Y-%m-%d %H:%M:%S')
df_60['datetime'] = pd.to_datetime(df_60['date'].astype(str) + ' ' + df_60['hour'].astype(str).str.zfill(2) + ':00:00', format='%Y-%m-%d %H:%M:%S')

print(df_15['datetime'].loc[6])
print(df_30['datetime'].loc[6])
print(df_60['datetime'].loc[6])

2020-01-01 00:15:00
2020-01-01 00:30:00
2020-01-01 01:00:00

In [371]:
print(df_15[df_15['date'] <= datetime(2024, 1, 31).date()].isna().any())

date                    False
hour                    False
minute                  False
peakHour                False
year                    False
quarter                 False
Q1                      False
Q2                      False
Q3                      False
Q4                      False
month                   False
monthNumber             False
weekNumber              False
weekDay                 False
dateNumber              False
mon                     False
tue                     False
wed                     False
thu                     False
fri                     False
sat                     False
sun                     False
workdayPlan             False
saturdayPlan            False
sundayAndHolidayPlan    False
summerVacation          False
fallVacation            False
christmasVacation       False
winterVacation          False
easterVacation          False
line                    False
passengersBoarding      False
acc_precip              False
bright_sunshine         False
mean_cloud_cover        False
mean_pressure           False
mean_relative_hum       False
mean_temp               False
mean_wind_speed         False
snow_depth              False
datetime                False
dtype: bool

In [372]:
df_15.dtypes

date                            object
hour                             int64
minute                           int64
peakHour                         int64
year                             int64
quarter                          int64
Q1                               int64
Q2                               int64
Q3                               int64
Q4                               int64
month                           object
monthNumber                      int64
weekNumber                       int64
weekDay                         object
dateNumber                       int64
mon                              int64
tue                              int64
wed                              int64
thu                              int64
fri                              int64
sat                              int64
sun                              int64
workdayPlan                      int64
saturdayPlan                     int64
sundayAndHolidayPlan             int64
summerVacation                   int64
fallVacation                     int64
christmasVacation                int64
winterVacation                   int64
easterVacation                   int64
line                            object
passengersBoarding               int64
acc_precip                     float64
bright_sunshine                float64
mean_cloud_cover               float64
mean_pressure                  float64
mean_relative_hum              float64
mean_temp                      float64
mean_wind_speed                float64
snow_depth                     float64
datetime                datetime64[ns]
dtype: object

In [373]:
df_60['date'].loc[0]

datetime.date(2020, 1, 1)

# Join special event

In [374]:
events = pd.read_csv("data/SpecialEventData/SpecialEventData.csv", sep=";")

# remove covid restricted events
events = events[events['covid19_restrictions'] == 0]

# set end hour to correct format
events['endHourTrue'] = events['endHour'] - 1
events.loc[events['endHourTrue'] == -1, 'endHourTrue'] = 23

# set start and end
events['start'] = events['startHour'] - 2
events.loc[events['start'] <= 0, 'start'] = 0

events['end'] = events['endHourTrue'] + 2
events.loc[events['end'] > 23, 'end'] = 23

events

,special_event_type,date,startHour,endHour,covid19_restrictions,endHourTrue,start,end
0,AGF_M,2020-02-28,19,21,0,20,17,22
25,AGF_M,2021-04-22,18,20,0,19,16,21
26,AGF_M,2021-04-25,20,22,0,21,18,23
27,AGF_M,2021-05-16,18,20,0,19,16,21
28,AGF_M,2021-05-20,20,22,0,21,18,23
...,...,...,...,...,...,...,...,...
249,Fed_Fredag,2023-08-11,20,22,0,21,18,23
250,Fed_Fredag,2023-08-18,20,22,0,21,18,23
251,Fed_Fredag,2023-08-25,20,22,0,21,18,23
252,Fed_Fredag,2023-09-01,20,22,0,21,18,23
253,Fed_Fredag,2023-09-08,20,22,0,21,18,23

In [375]:
events[events['date'] == '2023-06-04']

,special_event_type,date,startHour,endHour,covid19_restrictions,endHourTrue,start,end
64,AGF_M,2023-06-04,17,19,0,18,15,20
141,NorthSide,2023-06-04,0,2,0,1,0,3

In [376]:
# create list of hours and explode to create observation for each hour
def hourlistgenerator(row):
    return list(range(row['start'], row['end'] + 1))
    
events['hour'] = events.apply(hourlistgenerator, axis=1)
events = events.explode('hour')
events = events.drop(columns=['startHour', 'endHour', 'covid19_restrictions', 'endHourTrue', 'start', 'end'])
events.head(20)

   special_event_type        date hour
0               AGF_M  2020-02-28   17
0               AGF_M  2020-02-28   18
0               AGF_M  2020-02-28   19
0               AGF_M  2020-02-28   20
0               AGF_M  2020-02-28   21
0               AGF_M  2020-02-28   22
25              AGF_M  2021-04-22   16
25              AGF_M  2021-04-22   17
25              AGF_M  2021-04-22   18
25              AGF_M  2021-04-22   19
25              AGF_M  2021-04-22   20
25              AGF_M  2021-04-22   21
26              AGF_M  2021-04-25   18
26              AGF_M  2021-04-25   19
26              AGF_M  2021-04-25   20
26              AGF_M  2021-04-25   21
26              AGF_M  2021-04-25   22
26              AGF_M  2021-04-25   23
27              AGF_M  2021-05-16   16
27              AGF_M  2021-05-16   17

In [377]:
# group duplicates and create a list of all events for each date, hour
events = events.groupby([events['date'], events['hour']])[['date', 'hour', 'special_event_type']].apply(lambda x: x['special_event_type'].tolist())
events

date        hour
2020-02-28  17      [AGF_M]
            18      [AGF_M]
            19      [AGF_M]
            20      [AGF_M]
            21      [AGF_M]
                     ...
2023-12-16  12      [AGF_W]
            13      [AGF_W]
            14      [AGF_W]
            15      [AGF_W]
            16      [AGF_W]
Length: 1564, dtype: object

In [378]:
# remove index
events = events.reset_index(['date', 'hour'])
events

            date  hour        0
0     2020-02-28    17  [AGF_M]
1     2020-02-28    18  [AGF_M]
2     2020-02-28    19  [AGF_M]
3     2020-02-28    20  [AGF_M]
4     2020-02-28    21  [AGF_M]
...          ...   ...      ...
1559  2023-12-16    12  [AGF_W]
1560  2023-12-16    13  [AGF_W]
1561  2023-12-16    14  [AGF_W]
1562  2023-12-16    15  [AGF_W]
1563  2023-12-16    16  [AGF_W]

[1564 rows x 3 columns]

In [379]:
# set name and drop previous name
events['eventName'] = events[0]
events = events.drop(columns=events.columns[2])
events

            date  hour eventName
0     2020-02-28    17   [AGF_M]
1     2020-02-28    18   [AGF_M]
2     2020-02-28    19   [AGF_M]
3     2020-02-28    20   [AGF_M]
4     2020-02-28    21   [AGF_M]
...          ...   ...       ...
1559  2023-12-16    12   [AGF_W]
1560  2023-12-16    13   [AGF_W]
1561  2023-12-16    14   [AGF_W]
1562  2023-12-16    15   [AGF_W]
1563  2023-12-16    16   [AGF_W]

[1564 rows x 3 columns]

In [380]:
events['date'] = pd.to_datetime(events['date'], format='%Y-%m-%d').dt.date
events

            date  hour eventName
0     2020-02-28    17   [AGF_M]
1     2020-02-28    18   [AGF_M]
2     2020-02-28    19   [AGF_M]
3     2020-02-28    20   [AGF_M]
4     2020-02-28    21   [AGF_M]
...          ...   ...       ...
1559  2023-12-16    12   [AGF_W]
1560  2023-12-16    13   [AGF_W]
1561  2023-12-16    14   [AGF_W]
1562  2023-12-16    15   [AGF_W]
1563  2023-12-16    16   [AGF_W]

[1564 rows x 3 columns]

In [381]:
events[events['date'] == datetime(2023, 9, 1).date()]

            date  hour                                     eventName
1445  2023-09-01     8                             [Aarhus_Festival]
1446  2023-09-01     9                             [Aarhus_Festival]
1447  2023-09-01    10                             [Aarhus_Festival]
1448  2023-09-01    11              [Food_Festival, Aarhus_Festival]
1449  2023-09-01    12              [Food_Festival, Aarhus_Festival]
1450  2023-09-01    13              [Food_Festival, Aarhus_Festival]
1451  2023-09-01    14              [Food_Festival, Aarhus_Festival]
1452  2023-09-01    15              [Food_Festival, Aarhus_Festival]
1453  2023-09-01    16              [Food_Festival, Aarhus_Festival]
1454  2023-09-01    17              [Food_Festival, Aarhus_Festival]
1455  2023-09-01    18  [Food_Festival, Aarhus_Festival, Fed_Fredag]
1456  2023-09-01    19  [Food_Festival, Aarhus_Festival, Fed_Fredag]
1457  2023-09-01    20  [Food_Festival, Aarhus_Festival, Fed_Fredag]
1458  2023-09-01    21                 [Aarhus_Festival, Fed_Fredag]
1459  2023-09-01    22                 [Aarhus_Festival, Fed_Fredag]
1460  2023-09-01    23                 [Aarhus_Festival, Fed_Fredag]

In [382]:
# join
df_15 = pd.merge(df_15, events, on=['date', 'hour'], how="left")
df_30 = pd.merge(df_30, events, on=['date', 'hour'], how="left")
df_60 = pd.merge(df_60, events, on=['date', 'hour'], how="left")
df_60.head()

,date,hour,peakHour,year,quarter,Q1,Q2,Q3,Q4,month,...,acc_precip,bright_sunshine,mean_cloud_cover,mean_pressure,mean_relative_hum,mean_temp,mean_wind_speed,snow_depth,datetime,eventName
0,2020-01-01,0,0,2020,1,1,0,0,0,Januar,...,0.0,0.0,59.0,1030.8,86.2,3.2,3.3,0.0,2020-01-01,NaN
1,2020-01-01,0,0,2020,1,1,0,0,0,Januar,...,0.0,0.0,59.0,1030.8,86.2,3.2,3.3,0.0,2020-01-01,NaN
2,2020-01-01,0,0,2020,1,1,0,0,0,Januar,...,0.0,0.0,59.0,1030.8,86.2,3.2,3.3,0.0,2020-01-01,NaN
3,2020-01-01,0,0,2020,1,1,0,0,0,Januar,...,0.0,0.0,59.0,1030.8,86.2,3.2,3.3,0.0,2020-01-01,NaN
4,2020-01-01,0,0,2020,1,1,0,0,0,Januar,...,0.0,0.0,59.0,1030.8,86.2,3.2,3.3,0.0,2020-01-01,NaN

In [383]:
# set boolean for event. 1 if there is an event and 0 else
df_15['event'] = df_15['eventName'].notna().astype('int')
df_30['event'] = df_30['eventName'].notna().astype('int')
df_60['event'] = df_60['eventName'].notna().astype('int')

# na names to empty list
df_15['eventName'] = df_15['eventName'].fillna('').apply(list)
df_30['eventName'] = df_30['eventName'].fillna('').apply(list)
df_60['eventName'] = df_60['eventName'].fillna('').apply(list)

df_60

,date,hour,peakHour,year,quarter,Q1,Q2,Q3,Q4,month,...,bright_sunshine,mean_cloud_cover,mean_pressure,mean_relative_hum,mean_temp,mean_wind_speed,snow_depth,datetime,eventName,event
0,2020-01-01,0,0,2020,1,1,0,0,0,Januar,...,0.0,59.0,1030.8,86.2,3.2,3.3,0.0,2020-01-01 00:00:00,[],0
1,2020-01-01,0,0,2020,1,1,0,0,0,Januar,...,0.0,59.0,1030.8,86.2,3.2,3.3,0.0,2020-01-01 00:00:00,[],0
2,2020-01-01,0,0,2020,1,1,0,0,0,Januar,...,0.0,59.0,1030.8,86.2,3.2,3.3,0.0,2020-01-01 00:00:00,[],0
3,2020-01-01,0,0,2020,1,1,0,0,0,Januar,...,0.0,59.0,1030.8,86.2,3.2,3.3,0.0,2020-01-01 00:00:00,[],0
4,2020-01-01,0,0,2020,1,1,0,0,0,Januar,...,0.0,59.0,1030.8,86.2,3.2,3.3,0.0,2020-01-01 00:00:00,[],0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234427,2024-06-15,23,0,2024,2,0,1,0,0,Juni,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-15 23:00:00,[],0
234428,2024-06-15,23,0,2024,2,0,1,0,0,Juni,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-15 23:00:00,[],0
234429,2024-06-15,23,0,2024,2,0,1,0,0,Juni,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-15 23:00:00,[],0
234430,2024-06-15,23,0,2024,2,0,1,0,0,Juni,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-15 23:00:00,[],0
234431,2024-06-15,23,0,2024,2,0,1,0,0,Juni,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-15 23:00:00,[],0

In [389]:
df_60[df_60['date'] == datetime(2023, 9, 1).date()]

,date,hour,peakHour,year,quarter,Q1,Q2,Q3,Q4,month,...,bright_sunshine,mean_cloud_cover,mean_pressure,mean_relative_hum,mean_temp,mean_wind_speed,snow_depth,datetime,eventName,event
192816,2023-09-01,0,0,2023,3,0,0,1,0,September,...,0.0,68.0,1007.7,97.8,12.0,1.0,0.0,2023-09-01 00:00:00,[],0
192817,2023-09-01,0,0,2023,3,0,0,1,0,September,...,0.0,68.0,1007.7,97.8,12.0,1.0,0.0,2023-09-01 00:00:00,[],0
192818,2023-09-01,0,0,2023,3,0,0,1,0,September,...,0.0,68.0,1007.7,97.8,12.0,1.0,0.0,2023-09-01 00:00:00,[],0
192819,2023-09-01,0,0,2023,3,0,0,1,0,September,...,0.0,68.0,1007.7,97.8,12.0,1.0,0.0,2023-09-01 00:00:00,[],0
192820,2023-09-01,0,0,2023,3,0,0,1,0,September,...,0.0,68.0,1007.7,97.8,12.0,1.0,0.0,2023-09-01 00:00:00,[],0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192955,2023-09-01,23,0,2023,3,0,0,1,0,September,...,0.0,1.0,1014.7,94.4,13.6,2.0,0.0,2023-09-01 23:00:00,"[Aarhus_Festival, Fed_Fredag]",1
192956,2023-09-01,23,0,2023,3,0,0,1,0,September,...,0.0,1.0,1014.7,94.4,13.6,2.0,0.0,2023-09-01 23:00:00,"[Aarhus_Festival, Fed_Fredag]",1
192957,2023-09-01,23,0,2023,3,0,0,1,0,September,...,0.0,1.0,1014.7,94.4,13.6,2.0,0.0,2023-09-01 23:00:00,"[Aarhus_Festival, Fed_Fredag]",1
192958,2023-09-01,23,0,2023,3,0,0,1,0,September,...,0.0,1.0,1014.7,94.4,13.6,2.0,0.0,2023-09-01 23:00:00,"[Aarhus_Festival, Fed_Fredag]",1
192959,2023-09-01,23,0,2023,3,0,0,1,0,September,...,0.0,1.0,1014.7,94.4,13.6,2.0,0.0,2023-09-01 23:00:00,"[Aarhus_Festival, Fed_Fredag]",1

In [385]:
print('shape:', df_15.shape)
print('first date:', df_15['date'].min())
print('last date:', df_15['date'].max())

if df_15.shape[0] == df_30.shape[0]*2 and df_30.shape[0] == df_60.shape[0]*2:
    print('Same dimensions')

shape: (937728, 43)
first date: 2020-01-01
last date: 2024-06-15
Same dimensions

In [386]:
df_15.to_csv('data/data15.csv', index=False)
df_30.to_csv('data/data30.csv', index=False)
df_60.to_csv('data/data60.csv', index=False)