# Data Preparation

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

## Join Calendar and Passenger

In [2]:
# Read calendar data
calendar_15 = pd.read_csv("data/CalendarData/CalendarData15min.csv", sep=";")
print('Cal15:', calendar_15.shape)
calendar_30 = pd.read_csv("data/CalendarData/CalendarData30min.csv", sep=";")
print('Cal30:', calendar_30.shape)
calendar_60 = pd.read_csv("data/CalendarData/CalendarData60min.csv", sep=";")
print('Cal60:', calendar_60.shape)

# Read passenger data
passenger_15 = pd.read_csv("data/PassengerData/Passenger15min.csv", sep=";")
passenger_15 = passenger_15.rename(columns={"interval15": "minute"})  # Rename the column "interval15" to "minute" (As in calendar)
print('Pas15:', passenger_15.shape)

passenger_30 = pd.read_csv("data/PassengerData/Passenger30min.csv", sep=";")
passenger_30 = passenger_30.rename(columns={"interval30": "minute"})  # Rename the column "interval30" to "minute" (As in calendar)
print('Pas30:', passenger_30.shape)

passenger_60 = pd.read_csv("data/PassengerData/Passenger60min.csv", sep=";")
print('Pas60:', passenger_60.shape)

/var/folders/93/9bwp5y9s6p925yjm6qkgky980000gn/T/ipykernel_14032/974899168.py:2: DtypeWarning: Columns (26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  calendar_15 = pd.read_csv("data/CalendarData/CalendarData15min.csv", sep=";")

Cal15: (156288, 34)
Cal30: (78144, 34)
Cal60: (39072, 33)
Pas15: (689482, 5)
Pas30: (349328, 5)
Pas60: (178742, 4)

In [3]:
calendar_15.head(3)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,saturdayPlan,sundayAndHolidayPlan,HelligdagNavn,dayType,period,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0
1,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0
2,2020-01-01,0,30,0,2020,1,1,0,0,0,...,0,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0

In [4]:
passenger_15.head(3)

         date  hour  minute line  passengersBoarding
0  2020-01-01     6      15   1A                  12
1  2020-01-01     6      30   1A                  36
2  2020-01-01     6      45   1A                  51

In [5]:
# Duplicate each row 6 times
calendar_15 = pd.concat([calendar_15] * 6, ignore_index=True)  # Duplicate each row in calendar 6 times
calendar_15 = calendar_15.sort_values(by=["date", "hour", "minute"])  # Sort the dataframe so the new duplicated rows appear after eachother
calendar_15 = calendar_15.reset_index(drop=True)  # Reset the indexes after sorting the dataframe

# Add the bus line to match each line in the passenger table
calendar_15["line"] = np.nan  # Initialize line with nan
calendar_15["line"] = [f"{i}A" for i in range(1, 7)] * int(len(calendar_15) / 6)  # Insert buslines repeating "1A" to "6A"
print('Cal15:', calendar_15.shape)

# Same for 30 minutes
calendar_30 = pd.concat([calendar_30] * 6, ignore_index=True)  # Duplicate each row in calendar 6 times
calendar_30 = calendar_30.sort_values(by=["date", "hour", "minute"])  # Sort the dataframe so the new duplicated rows appear after eachother
calendar_30 = calendar_30.reset_index(drop=True)  # Reset the indexes after sorting the dataframe

calendar_30["line"] = np.nan  # Initialize line with nan
calendar_30["line"] = [f"{i}A" for i in range(1, 7)] * int(len(calendar_30) / 6)  # Insert buslines repeating "1A" to "6A"
print('Cal30:', calendar_30.shape)

# Same for 60 minutes
calendar_60 = pd.concat([calendar_60] * 6, ignore_index=True)  # Duplicate each row in calendar 6 times
calendar_60 = calendar_60.sort_values(by=["date", "hour"])  # Sort the dataframe so the new duplicated rows appear after eachother
calendar_60 = calendar_60.reset_index(drop=True)  # Reset the indexes after sorting the dataframe

calendar_60["line"] = np.nan  # Initialize line with nan
calendar_60["line"] = [f"{i}A" for i in range(1, 7)] * int(len(calendar_60) / 6)  # Insert buslines repeating "1A" to "6A"
print('Cal60:', calendar_60.shape)

Cal15: (937728, 35)
Cal30: (468864, 35)
Cal60: (234432, 34)

In [6]:
calendar_15.head(8)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,sundayAndHolidayPlan,HelligdagNavn,dayType,period,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,3A
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,4A
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,5A
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,6A
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A

In [7]:
calendar_30.head(8)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,sundayAndHolidayPlan,HelligdagNavn,dayType,period,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,3A
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,4A
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,5A
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,6A
6,2020-01-01,0,30,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A
7,2020-01-01,0,30,0,2020,1,1,0,0,0,...,1,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A

In [8]:
# Left join passenger data onto calendar data by date and hour
calendar_passenger_15 = pd.merge(calendar_15, passenger_15, on=["date", "hour", "minute", "line"], how="left")
calendar_passenger_30 = pd.merge(calendar_30, passenger_30, on=["date", "hour", "minute", "line"], how="left")
calendar_passenger_60 = pd.merge(calendar_60, passenger_60, on=["date", "hour", "line"], how="left")

In [9]:
type(calendar_passenger_15["passengersBoarding"][0])

numpy.float64

In [10]:
# Replace nan values with 0
calendar_passenger_15["passengersBoarding"] = calendar_passenger_15["passengersBoarding"].fillna(0).astype(int)
calendar_passenger_30["passengersBoarding"] = calendar_passenger_30["passengersBoarding"].fillna(0).astype(int)
calendar_passenger_60["passengersBoarding"] = calendar_passenger_60["passengersBoarding"].fillna(0).astype(int)

In [11]:
calendar_passenger_15.head(8)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,HelligdagNavn,dayType,period,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line,passengersBoarding
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A,0
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A,0
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,3A,31
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,4A,0
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,5A,11
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,6A,0
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A,0
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A,0

In [12]:
# localize date to DK time zone but keep only date object
print(type(calendar_passenger_15['date'].loc[0]))
calendar_passenger_15['date'] = pd.to_datetime(calendar_passenger_15['date'], format='%Y-%m-%d').dt.tz_localize('Europe/Copenhagen').dt.date
calendar_passenger_30['date'] = pd.to_datetime(calendar_passenger_30['date'], format='%Y-%m-%d').dt.tz_localize('Europe/Copenhagen').dt.date
calendar_passenger_60['date'] = pd.to_datetime(calendar_passenger_60['date'], format='%Y-%m-%d').dt.tz_localize('Europe/Copenhagen').dt.date

<class 'str'>

In [13]:
calendar_passenger_15.head(10)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,HelligdagNavn,dayType,period,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line,passengersBoarding
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A,0
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A,0
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,3A,31
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,4A,0
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,5A,11
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,6A,0
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,1A,0
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,2A,0
8,2020-01-01,0,15,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,3A,25
9,2020-01-01,0,15,0,2020,1,1,0,0,0,...,Nytårsdag,Søndag og Helligdage,NaN,0,0,1,0,0,4A,0

In [14]:
calendar_passenger_15.dtypes

date                    object
hour                     int64
minute                   int64
peakHour                 int64
year                     int64
quarter                  int64
Q1                       int64
Q2                       int64
Q3                       int64
Q4                       int64
month                   object
monthNumber              int64
weekNumber               int64
weekDay                 object
dayNumber                int64
weekDayNumber            int64
mon                      int64
tue                      int64
wed                      int64
thu                      int64
fri                      int64
sat                      int64
sun                      int64
workdayPlan              int64
saturdayPlan             int64
sundayAndHolidayPlan     int64
HelligdagNavn           object
dayType                 object
period                  object
summerVacation           int64
fallVacation             int64
christmasVacation        int64
winterVacation           int64
easterVacation           int64
line                    object
passengersBoarding       int64
dtype: object

In [15]:
type(calendar_passenger_15['date'].loc[0])

datetime.date

## Drop irrelevant columns and rename columns

In [16]:
# Drop columns that are already one-hot-encoded or irrelevant
calendar_passenger_15 = calendar_passenger_15.drop(columns=["weekDayNumber", "HelligdagNavn", "dayType", "period"])
calendar_passenger_30 = calendar_passenger_30.drop(columns=["weekDayNumber", "HelligdagNavn", "dayType", "period"])
calendar_passenger_60 = calendar_passenger_60.drop(columns=["weekDayNumber", "HelligdagNavn", "dayType", "period"])

In [17]:
calendar_passenger_15.head(8)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,workdayPlan,saturdayPlan,sundayAndHolidayPlan,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line,passengersBoarding
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1A,0
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,2A,0
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,3A,31
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,4A,0
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,5A,11
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,6A,0
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1A,0
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,2A,0

In [18]:
# Rename some of the other columns
calendar_passenger_15 = calendar_passenger_15.rename(columns={"dayNumber": "dateNumber"})
calendar_passenger_30 = calendar_passenger_30.rename(columns={"dayNumber": "dateNumber"})
calendar_passenger_60 = calendar_passenger_60.rename(columns={"dayNumber": "dateNumber"})

In [19]:
calendar_passenger_15.head(8)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,workdayPlan,saturdayPlan,sundayAndHolidayPlan,summerVacation,fallVacation,christmasVacation,winterVacation,easterVacation,line,passengersBoarding
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1A,0
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,2A,0
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,3A,31
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,4A,0
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,5A,11
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,6A,0
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1A,0
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,0,1,0,0,1,0,0,2A,0

## Join (Calendar,Passenger) and Climate

## missing snow*

In [52]:
climateHour = pd.read_csv("data/ClimateData/ClimateDataHour.csv")

In [53]:
climateHour.head(5)

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed
0,0.0,2024/02/04 00:00:00,2024/02/04 01:00:00,751,0.0,86.0,1009.2,0.0,84.9,4.9,6.0
1,0.0,2024/02/03 23:00:00,2024/02/04 00:00:00,751,0.0,25.0,1009.7,0.0,84.0,4.7,5.9
2,0.0,2024/02/03 22:00:00,2024/02/03 23:00:00,751,0.0,58.0,1010.4,0.0,83.2,4.6,5.9
3,0.0,2024/02/03 21:00:00,2024/02/03 22:00:00,751,0.0,25.0,1010.6,0.0,81.3,4.7,5.6
4,0.0,2024/02/03 20:00:00,2024/02/03 21:00:00,751,0.0,89.0,1011.1,0.0,80.3,4.6,6.1

In [54]:
# Define "from" as UTC time
climateHour["from_UTC"] = pd.to_datetime(climateHour["from"], format="%Y/%m/%d %H:%M:%S").dt.tz_localize("UTC")

# Convert "from_UTC" to DK time
climateHour["from_DKTIME"] = climateHour["from_UTC"].dt.tz_convert("Europe/Copenhagen")

# Create a date column from the DKTIME
climateHour["date_DKTIME"] = climateHour["from_DKTIME"].dt.date

# Create an hour column from the DKTIME
climateHour["hour_DKTIME"] = climateHour["from_DKTIME"].dt.hour

In [55]:
# now we have days with 25 hours
climateHour[(climateHour['date_DKTIME'] == datetime(2023, 10, 29).date()) & (climateHour['hour_DKTIME'] <= 5)]

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
2348,0.0,2023/10/29 04:00:00,2023/10/29 05:00:00,751,0.0,99.0,996.9,0.0,93.5,7.9,6.2,2023-10-29 04:00:00+00:00,2023-10-29 05:00:00+01:00,2023-10-29,5
2349,0.1,2023/10/29 03:00:00,2023/10/29 04:00:00,751,0.0,98.0,998.2,0.0,92.9,7.7,5.7,2023-10-29 03:00:00+00:00,2023-10-29 04:00:00+01:00,2023-10-29,4
2350,0.1,2023/10/29 02:00:00,2023/10/29 03:00:00,751,0.0,98.0,998.8,0.0,93.6,7.4,5.6,2023-10-29 02:00:00+00:00,2023-10-29 03:00:00+01:00,2023-10-29,3
2351,0.4,2023/10/29 01:00:00,2023/10/29 02:00:00,751,0.0,95.0,999.4,0.0,93.3,7.5,5.1,2023-10-29 01:00:00+00:00,2023-10-29 02:00:00+01:00,2023-10-29,2
2352,0.1,2023/10/29 00:00:00,2023/10/29 01:00:00,751,0.0,95.0,1000.2,0.0,93.1,7.3,5.1,2023-10-29 00:00:00+00:00,2023-10-29 02:00:00+02:00,2023-10-29,2
2353,0.4,2023/10/28 23:00:00,2023/10/29 00:00:00,751,0.0,99.0,1001.1,0.0,94.4,7.1,4.9,2023-10-28 23:00:00+00:00,2023-10-29 01:00:00+02:00,2023-10-29,1
2354,0.3,2023/10/28 22:00:00,2023/10/28 23:00:00,751,0.0,99.0,1001.7,0.0,93.2,7.2,4.8,2023-10-28 22:00:00+00:00,2023-10-29 00:00:00+02:00,2023-10-29,0

In [56]:
# and some days with 23 hours
climateHour[(climateHour['date_DKTIME'] == datetime(2023, 3, 26).date()) & (climateHour['hour_DKTIME'] <= 5)]

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
7557,0.0,2023/03/26 03:00:00,2023/03/26 04:00:00,751,0.0,91.0,998.3,0.0,78.0,3.6,4.2,2023-03-26 03:00:00+00:00,2023-03-26 05:00:00+02:00,2023-03-26,5
7558,0.0,2023/03/26 02:00:00,2023/03/26 03:00:00,751,0.0,92.0,998.2,0.0,82.1,3.9,3.9,2023-03-26 02:00:00+00:00,2023-03-26 04:00:00+02:00,2023-03-26,4
7559,0.0,2023/03/26 01:00:00,2023/03/26 02:00:00,751,0.0,84.0,997.9,0.0,88.6,4.4,3.4,2023-03-26 01:00:00+00:00,2023-03-26 03:00:00+02:00,2023-03-26,3
7560,0.1,2023/03/26 00:00:00,2023/03/26 01:00:00,751,0.0,93.0,997.7,0.0,91.7,4.7,3.0,2023-03-26 00:00:00+00:00,2023-03-26 01:00:00+01:00,2023-03-26,1
7561,0.0,2023/03/25 23:00:00,2023/03/26 00:00:00,751,0.0,92.0,997.3,0.0,92.9,4.9,3.2,2023-03-25 23:00:00+00:00,2023-03-26 00:00:00+01:00,2023-03-26,0

In [57]:
# find days where hour 2 is missing
new_hours = []
days = pd.unique(climateHour['date_DKTIME'])
for i, day in enumerate(days):    
    day_df = climateHour[climateHour['date_DKTIME'] == day]
    hour_df = day_df[day_df['hour_DKTIME'] == 2]
    if hour_df.shape[0] == 0:
        print(day, 'hour: 2')
        new_hour = pd.DataFrame(np.nan, index=[0], columns=day_df.columns)
        new_hour['date_DKTIME'] = day
        new_hour['hour_DKTIME'] = 2
        new_hours.append(new_hour)
new_hours[0]

2024-02-04 hour: 2
2023-03-26 hour: 2
2022-03-27 hour: 2
2021-03-28 hour: 2
2020-03-29 hour: 2

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-02-04,2

In [58]:
# concat hour 2 for each missing day
for df in new_hours:
    climateHour = pd.concat([climateHour, df])

climateHour.tail(10)

/var/folders/93/9bwp5y9s6p925yjm6qkgky980000gn/T/ipykernel_14032/868053453.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  climateHour = pd.concat([climateHour, df])

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
36164,0.0,2019/12/20 04:00:00,2019/12/20 05:00:00,751.0,0.0,95.0,998.8,0.2,99.2,5.5,5.4,2019-12-20 04:00:00+00:00,2019-12-20 05:00:00+01:00,2019-12-20,5
36165,0.0,2019/12/20 03:00:00,2019/12/20 04:00:00,751.0,0.0,98.0,999.6,0.2,98.0,5.9,5.2,2019-12-20 03:00:00+00:00,2019-12-20 04:00:00+01:00,2019-12-20,4
36166,0.0,2019/12/20 02:00:00,2019/12/20 03:00:00,751.0,0.0,94.0,1000.8,0.2,96.6,6.1,4.8,2019-12-20 02:00:00+00:00,2019-12-20 03:00:00+01:00,2019-12-20,3
36167,0.0,2019/12/20 01:00:00,2019/12/20 02:00:00,751.0,0.0,84.0,1001.7,0.1,96.3,5.9,4.2,2019-12-20 01:00:00+00:00,2019-12-20 02:00:00+01:00,2019-12-20,2
36168,0.0,2019/12/20 00:00:00,2019/12/20 01:00:00,751.0,0.0,1.0,1002.3,0.2,95.5,6.0,3.7,2019-12-20 00:00:00+00:00,2019-12-20 01:00:00+01:00,2019-12-20,1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,2024-02-04,2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,2023-03-26,2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,2022-03-27,2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,2021-03-28,2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,2020-03-29,2

In [59]:
# sort and interpolate missing data points
climateHour = climateHour.sort_values(by=['date_DKTIME', 'hour_DKTIME'], ascending=[False, False])

cols_interpolate = ['acc_precip', 'bright_sunshine', 'mean_cloud_cover', 'mean_pressure', 'mean_radiation', 'mean_relative_hum', 'mean_temp', 'mean_wind_speed']
climateHour[cols_interpolate] = climateHour[cols_interpolate].interpolate()
climateHour[(climateHour['date_DKTIME'] == datetime(2023, 3, 26).date()) & (climateHour['hour_DKTIME'] <= 5)]

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
7557,0.00,2023/03/26 03:00:00,2023/03/26 04:00:00,751.0,0.0,91.0,998.3,0.0,78.00,3.60,4.2,2023-03-26 03:00:00+00:00,2023-03-26 05:00:00+02:00,2023-03-26,5
7558,0.00,2023/03/26 02:00:00,2023/03/26 03:00:00,751.0,0.0,92.0,998.2,0.0,82.10,3.90,3.9,2023-03-26 02:00:00+00:00,2023-03-26 04:00:00+02:00,2023-03-26,4
7559,0.00,2023/03/26 01:00:00,2023/03/26 02:00:00,751.0,0.0,84.0,997.9,0.0,88.60,4.40,3.4,2023-03-26 01:00:00+00:00,2023-03-26 03:00:00+02:00,2023-03-26,3
0,0.05,NaN,NaN,NaN,0.0,88.5,997.8,0.0,90.15,4.55,3.2,NaT,NaT,2023-03-26,2
7560,0.10,2023/03/26 00:00:00,2023/03/26 01:00:00,751.0,0.0,93.0,997.7,0.0,91.70,4.70,3.0,2023-03-26 00:00:00+00:00,2023-03-26 01:00:00+01:00,2023-03-26,1
7561,0.00,2023/03/25 23:00:00,2023/03/26 00:00:00,751.0,0.0,92.0,997.3,0.0,92.90,4.90,3.2,2023-03-25 23:00:00+00:00,2023-03-26 00:00:00+01:00,2023-03-26,0

In [60]:
# drop duplicates so 25 hour days become 24 hour days
climateHour = climateHour.drop_duplicates(subset=['date_DKTIME', 'hour_DKTIME'])

In [61]:
climateHour[(climateHour['date_DKTIME'] == datetime(2023, 10, 29).date()) & (climateHour['hour_DKTIME'] <= 5)]

,acc_precip,from,to,municipalityId,bright_sunshine,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
2348,0.0,2023/10/29 04:00:00,2023/10/29 05:00:00,751.0,0.0,99.0,996.9,0.0,93.5,7.9,6.2,2023-10-29 04:00:00+00:00,2023-10-29 05:00:00+01:00,2023-10-29,5
2349,0.1,2023/10/29 03:00:00,2023/10/29 04:00:00,751.0,0.0,98.0,998.2,0.0,92.9,7.7,5.7,2023-10-29 03:00:00+00:00,2023-10-29 04:00:00+01:00,2023-10-29,4
2350,0.1,2023/10/29 02:00:00,2023/10/29 03:00:00,751.0,0.0,98.0,998.8,0.0,93.6,7.4,5.6,2023-10-29 02:00:00+00:00,2023-10-29 03:00:00+01:00,2023-10-29,3
2351,0.4,2023/10/29 01:00:00,2023/10/29 02:00:00,751.0,0.0,95.0,999.4,0.0,93.3,7.5,5.1,2023-10-29 01:00:00+00:00,2023-10-29 02:00:00+01:00,2023-10-29,2
2353,0.4,2023/10/28 23:00:00,2023/10/29 00:00:00,751.0,0.0,99.0,1001.1,0.0,94.4,7.1,4.9,2023-10-28 23:00:00+00:00,2023-10-29 01:00:00+02:00,2023-10-29,1
2354,0.3,2023/10/28 22:00:00,2023/10/28 23:00:00,751.0,0.0,99.0,1001.7,0.0,93.2,7.2,4.8,2023-10-28 22:00:00+00:00,2023-10-29 00:00:00+02:00,2023-10-29,0

In [62]:
# join calendar - passenger left join climate hour
df_15 = pd.merge(calendar_passenger_15, climateHour, left_on=["date", "hour"], right_on=["date_DKTIME", "hour_DKTIME"], how="left")
df_30 = pd.merge(calendar_passenger_30, climateHour, left_on=["date", "hour"], right_on=["date_DKTIME", "hour_DKTIME"], how="left")
df_60 = pd.merge(calendar_passenger_60, climateHour, left_on=["date", "hour"], right_on=["date_DKTIME", "hour_DKTIME"], how="left")

In [63]:
df_15.head(10)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,59.0,1030.8,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,59.0,1030.8,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,59.0,1030.8,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,59.0,1030.8,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,59.0,1030.8,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,59.0,1030.8,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,59.0,1030.8,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,59.0,1030.8,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
8,2020-01-01,0,15,0,2020,1,1,0,0,0,...,59.0,1030.8,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0
9,2020-01-01,0,15,0,2020,1,1,0,0,0,...,59.0,1030.8,0.0,86.2,3.2,3.3,2019-12-31 23:00:00+00:00,2020-01-01 00:00:00+01:00,2020-01-01,0.0

In [64]:
df_15[(df_15['date'] == datetime(2023, 3, 26).date()) & (df_15['hour'] >= 0) & (df_15['hour'] <= 3) & (df_15['line'] == '1A')]

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
679680,2023-03-26,0,0,0,2023,1,1,0,0,0,...,92.0,997.3,0.0,92.90,4.90,3.2,2023-03-25 23:00:00+00:00,2023-03-26 00:00:00+01:00,2023-03-26,0.0
679686,2023-03-26,0,15,0,2023,1,1,0,0,0,...,92.0,997.3,0.0,92.90,4.90,3.2,2023-03-25 23:00:00+00:00,2023-03-26 00:00:00+01:00,2023-03-26,0.0
679692,2023-03-26,0,30,0,2023,1,1,0,0,0,...,92.0,997.3,0.0,92.90,4.90,3.2,2023-03-25 23:00:00+00:00,2023-03-26 00:00:00+01:00,2023-03-26,0.0
679698,2023-03-26,0,45,0,2023,1,1,0,0,0,...,92.0,997.3,0.0,92.90,4.90,3.2,2023-03-25 23:00:00+00:00,2023-03-26 00:00:00+01:00,2023-03-26,0.0
679704,2023-03-26,1,0,0,2023,1,1,0,0,0,...,93.0,997.7,0.0,91.70,4.70,3.0,2023-03-26 00:00:00+00:00,2023-03-26 01:00:00+01:00,2023-03-26,1.0
679710,2023-03-26,1,15,0,2023,1,1,0,0,0,...,93.0,997.7,0.0,91.70,4.70,3.0,2023-03-26 00:00:00+00:00,2023-03-26 01:00:00+01:00,2023-03-26,1.0
679716,2023-03-26,1,30,0,2023,1,1,0,0,0,...,93.0,997.7,0.0,91.70,4.70,3.0,2023-03-26 00:00:00+00:00,2023-03-26 01:00:00+01:00,2023-03-26,1.0
679722,2023-03-26,1,45,0,2023,1,1,0,0,0,...,93.0,997.7,0.0,91.70,4.70,3.0,2023-03-26 00:00:00+00:00,2023-03-26 01:00:00+01:00,2023-03-26,1.0
679728,2023-03-26,2,0,0,2023,1,1,0,0,0,...,88.5,997.8,0.0,90.15,4.55,3.2,NaT,NaT,2023-03-26,2.0
679734,2023-03-26,2,15,0,2023,1,1,0,0,0,...,88.5,997.8,0.0,90.15,4.55,3.2,NaT,NaT,2023-03-26,2.0
679740,2023-03-26,2,30,0,2023,1,1,0,0,0,...,88.5,997.8,0.0,90.15,4.55,3.2,NaT,NaT,2023-03-26,2.0
679746,2023-03-26,2,45,0,2023,1,1,0,0,0,...,88.5,997.8,0.0,90.15,4.55,3.2,NaT,NaT,2023-03-26,2.0
679752,2023-03-26,3,0,0,2023,1,1,0,0,0,...,84.0,997.9,0.0,88.60,4.40,3.4,2023-03-26 01:00:00+00:00,2023-03-26 03:00:00+02:00,2023-03-26,3.0
679758,2023-03-26,3,15,0,2023,1,1,0,0,0,...,84.0,997.9,0.0,88.60,4.40,3.4,2023-03-26 01:00:00+00:00,2023-03-26 03:00:00+02:00,2023-03-26,3.0
679764,2023-03-26,3,30,0,2023,1,1,0,0,0,...,84.0,997.9,0.0,88.60,4.40,3.4,2023-03-26 01:00:00+00:00,2023-03-26 03:00:00+02:00,2023-03-26,3.0
679770,2023-03-26,3,45,0,2023,1,1,0,0,0,...,84.0,997.9,0.0,88.60,4.40,3.4,2023-03-26 01:00:00+00:00,2023-03-26 03:00:00+02:00,2023-03-26,3.0

In [66]:
print(df_15[df_15['date'] <= datetime(2024, 1, 31).date()].isna().any())

df_15[(df_15['date'] == datetime(2023, 3, 26).date()) & (df_15['hour'] >= 0) & (df_15['hour'] <= 3) & (df_15['line'] == '1A')]

date                    False
hour                    False
minute                  False
peakHour                False
year                    False
quarter                 False
Q1                      False
Q2                      False
Q3                      False
Q4                      False
month                   False
monthNumber             False
weekNumber              False
weekDay                 False
dateNumber              False
mon                     False
tue                     False
wed                     False
thu                     False
fri                     False
sat                     False
sun                     False
workdayPlan             False
saturdayPlan            False
sundayAndHolidayPlan    False
summerVacation          False
fallVacation            False
christmasVacation       False
winterVacation          False
easterVacation          False
line                    False
passengersBoarding      False
acc_precip              False
from                     True
to                       True
municipalityId           True
bright_sunshine         False
mean_cloud_cover        False
mean_pressure           False
mean_radiation          False
mean_relative_hum       False
mean_temp               False
mean_wind_speed         False
from_UTC                 True
from_DKTIME              True
date_DKTIME             False
hour_DKTIME             False
dtype: bool

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,mean_cloud_cover,mean_pressure,mean_radiation,mean_relative_hum,mean_temp,mean_wind_speed,from_UTC,from_DKTIME,date_DKTIME,hour_DKTIME
679680,2023-03-26,0,0,0,2023,1,1,0,0,0,...,92.0,997.3,0.0,92.90,4.90,3.2,2023-03-25 23:00:00+00:00,2023-03-26 00:00:00+01:00,2023-03-26,0.0
679686,2023-03-26,0,15,0,2023,1,1,0,0,0,...,92.0,997.3,0.0,92.90,4.90,3.2,2023-03-25 23:00:00+00:00,2023-03-26 00:00:00+01:00,2023-03-26,0.0
679692,2023-03-26,0,30,0,2023,1,1,0,0,0,...,92.0,997.3,0.0,92.90,4.90,3.2,2023-03-25 23:00:00+00:00,2023-03-26 00:00:00+01:00,2023-03-26,0.0
679698,2023-03-26,0,45,0,2023,1,1,0,0,0,...,92.0,997.3,0.0,92.90,4.90,3.2,2023-03-25 23:00:00+00:00,2023-03-26 00:00:00+01:00,2023-03-26,0.0
679704,2023-03-26,1,0,0,2023,1,1,0,0,0,...,93.0,997.7,0.0,91.70,4.70,3.0,2023-03-26 00:00:00+00:00,2023-03-26 01:00:00+01:00,2023-03-26,1.0
679710,2023-03-26,1,15,0,2023,1,1,0,0,0,...,93.0,997.7,0.0,91.70,4.70,3.0,2023-03-26 00:00:00+00:00,2023-03-26 01:00:00+01:00,2023-03-26,1.0
679716,2023-03-26,1,30,0,2023,1,1,0,0,0,...,93.0,997.7,0.0,91.70,4.70,3.0,2023-03-26 00:00:00+00:00,2023-03-26 01:00:00+01:00,2023-03-26,1.0
679722,2023-03-26,1,45,0,2023,1,1,0,0,0,...,93.0,997.7,0.0,91.70,4.70,3.0,2023-03-26 00:00:00+00:00,2023-03-26 01:00:00+01:00,2023-03-26,1.0
679728,2023-03-26,2,0,0,2023,1,1,0,0,0,...,88.5,997.8,0.0,90.15,4.55,3.2,NaT,NaT,2023-03-26,2.0
679734,2023-03-26,2,15,0,2023,1,1,0,0,0,...,88.5,997.8,0.0,90.15,4.55,3.2,NaT,NaT,2023-03-26,2.0
679740,2023-03-26,2,30,0,2023,1,1,0,0,0,...,88.5,997.8,0.0,90.15,4.55,3.2,NaT,NaT,2023-03-26,2.0
679746,2023-03-26,2,45,0,2023,1,1,0,0,0,...,88.5,997.8,0.0,90.15,4.55,3.2,NaT,NaT,2023-03-26,2.0
679752,2023-03-26,3,0,0,2023,1,1,0,0,0,...,84.0,997.9,0.0,88.60,4.40,3.4,2023-03-26 01:00:00+00:00,2023-03-26 03:00:00+02:00,2023-03-26,3.0
679758,2023-03-26,3,15,0,2023,1,1,0,0,0,...,84.0,997.9,0.0,88.60,4.40,3.4,2023-03-26 01:00:00+00:00,2023-03-26 03:00:00+02:00,2023-03-26,3.0
679764,2023-03-26,3,30,0,2023,1,1,0,0,0,...,84.0,997.9,0.0,88.60,4.40,3.4,2023-03-26 01:00:00+00:00,2023-03-26 03:00:00+02:00,2023-03-26,3.0
679770,2023-03-26,3,45,0,2023,1,1,0,0,0,...,84.0,997.9,0.0,88.60,4.40,3.4,2023-03-26 01:00:00+00:00,2023-03-26 03:00:00+02:00,2023-03-26,3.0

In [67]:
# drop irrelevant columns
df_15 = df_15.drop(columns=['from', 'to', 'municipalityId', 'from_UTC', 'from_DKTIME', 'date_DKTIME', 'hour_DKTIME', 'mean_radiation'])
df_30 = df_30.drop(columns=['from', 'to', 'municipalityId', 'from_UTC', 'from_DKTIME', 'date_DKTIME', 'hour_DKTIME', 'mean_radiation'])
df_60 = df_60.drop(columns=['from', 'to', 'municipalityId', 'from_UTC', 'from_DKTIME', 'date_DKTIME', 'hour_DKTIME', 'mean_radiation'])

In [68]:
df_15.head(10)

,date,hour,minute,peakHour,year,quarter,Q1,Q2,Q3,Q4,...,easterVacation,line,passengersBoarding,acc_precip,bright_sunshine,mean_cloud_cover,mean_pressure,mean_relative_hum,mean_temp,mean_wind_speed
0,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,1A,0,0.0,0.0,59.0,1030.8,86.2,3.2,3.3
1,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,2A,0,0.0,0.0,59.0,1030.8,86.2,3.2,3.3
2,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,3A,31,0.0,0.0,59.0,1030.8,86.2,3.2,3.3
3,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,4A,0,0.0,0.0,59.0,1030.8,86.2,3.2,3.3
4,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,5A,11,0.0,0.0,59.0,1030.8,86.2,3.2,3.3
5,2020-01-01,0,0,0,2020,1,1,0,0,0,...,0,6A,0,0.0,0.0,59.0,1030.8,86.2,3.2,3.3
6,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,1A,0,0.0,0.0,59.0,1030.8,86.2,3.2,3.3
7,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,2A,0,0.0,0.0,59.0,1030.8,86.2,3.2,3.3
8,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,3A,25,0.0,0.0,59.0,1030.8,86.2,3.2,3.3
9,2020-01-01,0,15,0,2020,1,1,0,0,0,...,0,4A,0,0.0,0.0,59.0,1030.8,86.2,3.2,3.3

In [69]:
df_15.dtypes

date                     object
hour                      int64
minute                    int64
peakHour                  int64
year                      int64
quarter                   int64
Q1                        int64
Q2                        int64
Q3                        int64
Q4                        int64
month                    object
monthNumber               int64
weekNumber                int64
weekDay                  object
dateNumber                int64
mon                       int64
tue                       int64
wed                       int64
thu                       int64
fri                       int64
sat                       int64
sun                       int64
workdayPlan               int64
saturdayPlan              int64
sundayAndHolidayPlan      int64
summerVacation            int64
fallVacation              int64
christmasVacation         int64
winterVacation            int64
easterVacation            int64
line                     object
passengersBoarding        int64
acc_precip              float64
bright_sunshine         float64
mean_cloud_cover        float64
mean_pressure           float64
mean_relative_hum       float64
mean_temp               float64
mean_wind_speed         float64
dtype: object

In [72]:
print('shape:', df_15.shape)
print('first date:', df_15['date'].min())
print('last date:', df_15['date'].max())

if df_15.shape[0] == df_30.shape[0]*2 and df_30.shape[0] == df_60.shape[0]*2:
    print('Same dimensions')

shape: (937728, 39)
first date: 2020-01-01
last date: 2024-06-15
Same dimensions